:root {
    --bg-primary: rgb(16, 20, 21);
    --button: rgb(244, 225, 24);
    --card: rgb(46, 52, 66);
    --container: 80%;
    --container-md:95%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}



 p {
    font-size: 18px;
    
}

ul {
    list-style: none;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

nav {
    background-color: rgb(53, 71, 75);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 30px;
    
}

.logo img {
    width: 100px;
    height: 70px;
}

.nav_links ul {
    display: flex;
    
}

.nav_links .active{
    color: var(--button);
}

.nav_links ul li {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1.8rem;
    text-transform: capitalize;
    color: #fff;
}

.nav_links a {
    color: #fff;
}

.nav_links a:hover {
    color: var(--button);
    transition: 2s ease-out;
}

.contact-btn {
    border: 1px solid yellow;
    padding: 5px 8px;
    border-radius: 10px;
}

.contact-btn:hover {
    background-color: var(--button);
    border: 1px solid #fff;
    transition: 2s ease-out;
}

.contact-btn a:hover{
    color: black;
}

#mobile {
    display: none;
    
}

#mobile i{
    color: #fff;
    font-size: 20px;
    
}



/* main content */

.showcase {

    width: var(--container);
    display: flex;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 800px;
    height: 600px;
    border-radius: 10px;
}

.content {
    margin-left: 2rem;
    color: #fff;
}

.content h1 {
    margin: 3rem 0;
    font-size: 3rem;
    color: var(--button);
}

.content p {
    line-height: 2rem;
    font-size: 18px;
    
}

/* About section */

.about {
   background: linear-gradient(62.77deg, var(--card) 52.66%, var(--button) 52.66%)
}
.about-section {
    width: var(--container);
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
   
}

.about-section .about-header h1 {
    color: var(--button);
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.about-header p {
    color: #fff;
    line-height: 2rem;
}

.discription-image img {
    width: 850px;
    height: 700px;
}



/* Services */
.services h1{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button);
    padding: 5rem 0 2rem 5rem;
    width: var(--container);
}

.services .service-container {
 
   
    width: var(--container);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}

.service {
    padding:  2rem;
}

.service:hover {
    background-color: rgb(50, 50, 81);
    text-align: center;
    transition: 2s;
}

.service img {
    width: 700px;
    height: 600px;
}

.service h2 {
    color: var(--button);
    margin: 1.8rem 0;
}

.service p {
    color: #fff;
    line-height: 1.6rem;
}

 #price {
    color: rgb(26, 130, 26);
    margin-top: 1.6rem;
    font-weight: 600;
}

.footer {
    height: 20vh;
    background-color: rgb(20, 48, 54);
}

.footer-container {
    width: var(--container);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.footer-container p {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 1rem 0;
}

@media(max-width: 1500px) {

    .showcase {
        height: auto;
        padding: 3rem 0;
    }

    .about-section {
        height: auto;
        padding: 5rem 0;
    }
   .discription-image img {
    padding-top: 2.5rem;
    width: 400px;
    height: 500px;
}



.service img {
    width: 100%;
    height: 400px;
}

.footer {
    height: 40vh;
}
}



@media(max-width: 700px) {

    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    p {
        font-size: 16px;
    }

    .image img {
        width: 100%;
        height: 400px;
        border-radius: 0px;
    }

    .showcase {
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .content h1 {
        margin-top: 2.6rem;
        font-size: 2rem;
        color: var(--button);
    }

    .content p {
        padding: 2rem 10px;
    }
    

    .about-section {
        padding: 2rem 0;
        height: auto;
        flex-direction: column;
    }

    .about-section .about-header h1 {
        margin-top: 4rem;
        color: var(--bg-primary);
        font-size: 2rem;
    }

    .discription-image img {
        width: 100%;
        height: 400px;
    }

    
    
   

    .services .service-container {
        width: var(--container-md);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .services h1 {
        font-size: 2rem;
        padding-top: 7rem;
    }

    .service img {
        width: 100%;
        height: 300px;
    }

    .service:hover {
        background-color: transparent;
    }

    .service {
       
        display: flex;
        flex-direction: column;
        transition: 2s;
    }

    .footer {
        height: 50vh;
       
    }

    .footer-container {
        margin: 2rem 1rem;
    }

    /* navbar */

    .nav_links  {
        position: relative;
        top: 200px;
        right: -90px;
        background-color: var(--card);
        padding: 20px;
        height: 300px;
        display: none;
        
    }
    .nav_links ul {
        display: flex;
        flex-direction: column;  
    }

    .nav_links ul li {
       margin-bottom: 2rem;
       
    }

    #mobile {
        display: flex;
    }

    #mobile i {
        color: #fff;
        padding: 0 30px;
        font-size: 20px;
    }

    #close-bar {
        display: none;
    }

    .contact-btn {
        border: none;
        padding: 5px 8px;
        border-radius: 0;
    }

    .contact-btn:hover {
        background-color: transparent;
        border: none;
        transition: 2s ease-out;
        color: var(--button);
    }

    .nav_links ul li {
        font-size: 16px;
        font-weight: 400;
    }
    
}




